{% extends "layout/html.html.twig" %}


{% block layout_body %}
<div id="wrapper" class="container-center">
    <div class="content">
    {% block view_content %}
        <!-- To be replaced by controller views -->
    {% endblock %}
    </div>
</div>
{% endblock %}
