{% extends "layout/main.html.twig" %}


{% block view_content %}
    <h1>Demo i18n chat sessions</h1>
    <p>
        <a href="/chat" class="btn btn-primary btn-xlarge">Request token and start</a>
    </p>
{% endblock %}
